---
import "../base.css";
import NavMenu from "@components/_collections/NavMenu/NavMenu.svelte";
import Footer from "@components/Footer.svelte";

interface Props {
    title: string;
    description: string;
    nav?: boolean;
    robots?: boolean;
}

const {
    title,
    description,
    nav = true,
    robots = true,
    } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <!-- Basic website setup -->
        <title>{title == "U.P. Lions Serve: Childhood Cancer" ? title : `${title} - U.P. Lions Serve: Childhood Cancer`}</title>
        <meta name="description" content={description}>

        <meta name="robots" content={robots ? "index, follow" : "noindex, nofollow"}>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="32x32" href={`${import.meta.env.BASE_URL}/favicon.png`}>

        <!-- Font initialization -->
        <link rel="stylesheet" href="https://use.typekit.net/zhd4kcf.css" />
    </head>
    <body class="text-navy">
        {nav && <NavMenu page={title} client:load /> }
        <main class="
                flex flex-col items-center gap-12
                overflow-x-hidden">
            <slot />
        </main>
        <Footer />
    </body>
</html>
