---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Book Title">
	<!-- About -->
	<!-- Mission statement and goals -->
	<main class="mx-auto mb-24 max-w-screen-xl grow px-4 sm:px-6">
		<div class="grid lg:grid-cols-3">
			<div class="flex flex-col gap-12 lg:col-span-2">
				<div
					id="lets-seed-up"
					class="md:max-w-1xl flex flex-col gap-4 md:mx-auto lg:col-span-8"
				>
					<h2
						class="mb-8 mt-1 text-4xl font-extrabold uppercase leading-10 tracking-tight text-gray-900 sm:text-6xl sm:leading-none lg:text-5xl xl:text-6xl"
					>
						Let's Seed <span class="underline">U.P.!</span>
					</h2>
					<p class="font-body text-base text-gray-500 sm:text-xl lg:text-lg">
						Let's Seed U.P.! is a seed distribution / garden building /
						community support project funded through a grant provided by
						District 10. The project provides U.P. Smart* vegetable, herb, and
						other seed varieties to communities throughout the U.P. in
						partnership with U.P. Lion's Clubs.
					</p>
					<p class="font-body text-base text-gray-500 sm:text-xl lg:text-lg">
						U.P.-Smart™ seeds are short season, cooler climate seeds. They are
						a diverse collection of food crops that have a higher degree of
						growth success in the U.P. U.P. Smart seeds are more hearty with
						better yields growing in the U.P. High yields address better garden
						results, food insecurity, food scarcity, fresh produce access,
						nutrition and childhood health.
					</p>
					<p class="font-body text-base text-gray-500 sm:text-xl lg:text-lg">
						LSUP will provide access to free online courses and site visits to
						train Lion's to build sustainable, nutritious food gardens in their
						community.
					</p>

					<h3 class="mt-4 text-2xl font-bold uppercase text-gray-700">
						Farm To School (F2S) / Community Gardens
					</h3>
					<p class="font-body text-base text-gray-500 sm:text-xl lg:text-lg">
						LSUP works in conjunction with Farm To School and Community Garden
						projects in D10 through Lions Clubs. The F2S program is run through
						Partridge Creek Farms, a partially funded UPLionsServe foundation
						organization. The F2S program works with schools to determine garden
						boxes, arrangement and training. LSUP will, through the local Lions
						Club for the school, provide the seed "package" and training for
						planting seeds. Students gain access to healthy local foods as well
						as educational opportunities such as school gardens, seed saving,
						cooking lessons, and farm field trips.
					</p>
					<p
						class="font-body text-base text-gray-500 sm:mt-2 sm:text-xl lg:text-lg"
					>
						For more information, contact us via email or phone. We are also
						looking for your financial support to sustain efforts in this
						project.
						<a href="https://donorbox.org/lions-hunger" target="_blank">
							Give online
						</a>
						 or write a check to D10 Hunger, specifying <em>LSUP</em> in the
						memo section of the check. Mail it to:
					</p>
					<p
						class="font-body text-base font-bold text-gray-700 sm:mt-2 sm:text-xl lg:text-lg"
					>
						HUNGER <br />
						 646 County Rd.<br />
						 Negaunee, MI 49866
					</p>
					<p
						class="font-body text-base text-gray-500 sm:mt-2 sm:text-xl lg:text-lg"
					>
						All donations over $100 will be provided a letter of acknowledgement
						for tax purposes.
					</p>
				</div>
				<div
					id="kids-backpack-program"
					class="md:max-w-1xl flex flex-col gap-4 md:mx-auto lg:col-span-8"
				>
					<h2
						class="mb-8 mt-1 text-4xl font-extrabold uppercase leading-10 tracking-tight text-gray-900 sm:text-6xl sm:leading-none lg:text-5xl xl:text-6xl"
					>
						Kids Backpack <span class="underline">Program</span>
					</h2>
					<p class="font-body text-base text-gray-500 sm:text-xl lg:text-lg">
						Schools are the perfect target for the Backpack program - they are
						the gathered location for children in need. Our backpack program
						provides children with food that can go home with them for the
						evening and weekend. We do not want to see any child go without.
						Lasting impact is made by nourishing lives, empowering communities
						&amp; emergency relief.
					</p>
					<p
						class="font-body text-base text-gray-500 sm:mt-2 sm:text-xl lg:text-lg"
					>
						For more information, contact us via email or phone. We are also
						looking for your financial support to sustain efforts in this
						project.
						<a href="https://donorbox.org/lions-hunger" target="_blank">
							Give online
						</a>
						 or write a check to D10 Hunger, specifying <em>Backpack</em> in the
						memo section of the check. Mail it to:
					</p>
					<p
						class="font-body text-base font-bold text-gray-700 sm:mt-2 sm:text-xl lg:text-lg"
					>
						HUNGER <br />
						 646 County Rd.<br />
						 Negaunee, MI 49866
					</p>
					<p
						class="font-body text-base text-gray-500 sm:mt-2 sm:text-xl lg:text-lg"
					>
						All donations over $100 will be provided a letter of acknowledgement
						for tax purposes.
					</p>
				</div>
				<div
					id="food-as-medicine"
					class="md:max-w-1xl flex flex-col gap-4 md:mx-auto lg:col-span-8"
				>
					<h2
						class="mb-8 mt-1 text-4xl font-extrabold uppercase leading-loose tracking-tight text-gray-900 sm:text-6xl sm:leading-none lg:text-5xl xl:text-6xl"
					>
						UP Food As <span class="underline">Medicine</span> /<br /> UP Fresh
						Food <span class="underline">Access</span>
					</h2>
					<p
						class="text-gray-bold font-body text-base font-bold tracking-[0.015rem] sm:mt-2 sm:text-xl lg:text-xl"
					>
						Receive $300 of fresh fruits and vegetables from local markets!
						Qualifying individuals receive $15 in produce vouchers for 20 weeks.
						Additional vouchers may be available by participating in nutrition
						education.
					</p>
					<p class="font-body text-base text-gray-500 sm:text-xl lg:text-lg">
						Prescription for Health is a practice built on the knowledge that
						food and diet play important roles in disease prevention and
						management by prioritizing food and diet in an individual&#39;s
						health plan, with the goal of overall health. District 10 Lions and
						the UPLionsServe Foundation have partnered with UPCAP and other
						organizations to make this program a part of our service commitment
						to the U.P.
					</p>
					<p class="font-body text-base text-gray-500 sm:text-xl lg:text-lg">
						Currently, in Michigan's Upper Peninsula, 1 in 7 individuals or 14%
						of residents are food insecure! In 2021, an effort to address this
						issue and improve health and wellness of residents throughout the
						Upper Peninsula, resulted in the development and implementation of
						The Upper Peninsula Food As Medicine (UPFAM) / Prescription For
						Health program.
					</p>
					<p class="font-body text-base text-gray-500 sm:text-xl lg:text-lg">
						This large collaborative effort consists of 25 partner organizations
						and agencies throughout the region committed to the on-going
						coordination and support of this initiative. The program, generously
						funded by the Superior Health Foundation of Marquette County, is
						based on a prescription for health model designed to address and
						improve food security of individuals that are at risk for or
						diagnosed with a chronic health condition, face economic barriers to
						food access and are 18 years of age or older.
					</p>
					<p class="font-body text-base text-gray-500 sm:text-xl lg:text-lg">
						As a member of the UP Food As Medicine Program, you have the
						opportunity to participate in nutrition education sessions provided
						by Michigan State University Extension Educators! The one-hour
						virtual sessions are held once a week for six-weeks and are
						currently virtual (CLICK HERE FOR A DESCRIPTION OF THE CLASS). There
						is no cost to attend these sessions and participants that complete 4
						of the 6 sessions can earn an additional $40 in product vouchers!
						Topics covered include:
					</p>
					<ol
						class="list-inside list-disc font-body text-base text-gray-600 sm:text-xl lg:text-lg"
					>
						<li>Quick, Healthy Meals and Snacks</li>
						<li>Eating Healthy on a Budget</li>
						<li>Tips for Losing Weight and Keeping It Off</li>
						<li>Making Healthy Eating Part of Your Lifestyle</li>
					</ol>
					<p class="font-body text-base text-gray-500 sm:text-xl lg:text-lg">
						Beginning Summer of 2023, UPCAP will partner with the Food Bank
						Council of Michigan (FBCM) to increase access to locally sourced
						fresh and healthy foods, targeting economically challenged and food
						insecure residents. This new initiative known as “The UP Fresh Food
						Access Program”, is Funded through the Food Bank Council of
						Michigan, a grantee of the Michigan Department of Education (MDE)
						and the USDA. This partnership will help establish and implement the
						new Local Food Purchase Assistance Cooperative Agreement Program
						(LFPA), an innovative program allowing state and tribal governments
						to procure and distribute local foods and beverages unique to their
						geographic area.
					</p>
					<p class="font-body text-base text-gray-500 sm:text-xl lg:text-lg">
						As a regional partner, UPCAP will utilize a variety of methods and
						work with local producers to provide access to fresh, healthy foods
						for residents in underserved communities. The UP Fresh Food Access
						Program is scheduled to start in the Upper Peninsula mid- Summer,
						and will run through September of 2025.
					</p>

					<p
						class="font-body text-base text-gray-500 sm:mt-2 sm:text-xl lg:text-lg"
					>
						For more information, contact us via email or phone. We are also
						looking for your financial support to sustain efforts in this
						project.
						<a href="https://donorbox.org/lions-hunger" target="_blank">
							Give online
						</a>
						 or write a check to D10 Hunger, specifying <em>Medicine</em> in the
						memo section of the check. Mail it to:
					</p>
					<p
						class="font-body text-base font-bold text-gray-700 sm:mt-2 sm:text-xl lg:text-lg"
					>
						HUNGER <br />
						 646 County Rd.<br />
						 Negaunee, MI 49866
					</p>
					<p
						class="font-body text-base text-gray-500 sm:mt-2 sm:text-xl lg:text-lg"
					>
						All donations over $100 will be provided a letter of acknowledgement
						for tax purposes.
					</p>
				</div>
				<div
					id="emergency-food-transportation"
					class="md:max-w-1xl flex flex-col gap-4 md:mx-auto lg:col-span-8"
				>
					<h2
						class="mb-8 mt-1 text-4xl font-extrabold uppercase leading-10 tracking-tight text-gray-900 sm:text-6xl sm:leading-none lg:text-5xl xl:text-6xl"
					>
						Emergency Food <span class="underline">Transportation</span>
					</h2>
					<p class="font-body text-base text-gray-500 sm:text-xl lg:text-lg">
						In an emergency situation, access to food resources is critical. The
						ability to transport food from one location to individuals and
						families in need in a community is our goal. This project is a
						partnership with UPCAP / Food as Medicine / District 10 Lions that
						began in May 2023. It was started as a Pilot Project in D10 that
						UPFAM identified Farmers Markets in the U.P. willing to accept
						vouchers they receive from a participating practitioner in the
						program for fresh produce that ‘clients’ in the program will receive
						for five months.
					</p>
					<p class="font-body text-base text-gray-500 sm:text-xl lg:text-lg">
						A qualifying process through UPCAP identifies clients who become
						part of the program. The 2023 program saw over 140 clients
						qualified. CALL 2-1-1.
					</p>
					<p class="font-body text-base text-gray-500 sm:text-xl lg:text-lg">
						Lions Club members are volunteering as drivers between clients and
						markets to make this possible. We are looking for more volunteers to
						grow this program U.P. wide!
					</p>
					<p
						class="font-body text-base text-gray-500 sm:mt-2 sm:text-xl lg:text-lg"
					>
						For more information, contact us via email or phone. We are also
						looking for your financial support to sustain efforts in this
						project.
						<a href="https://donorbox.org/lions-hunger" target="_blank">
							Give online
						</a>
						 or write a check to D10 Hunger, specifying <em>Transport</em> in
						the memo section of the check. Mail it to:
					</p>
					<p
						class="font-body text-base font-bold text-gray-700 sm:mt-2 sm:text-xl lg:text-lg"
					>
						HUNGER <br />
						 646 County Rd.<br />
						 Negaunee, MI 49866
					</p>
					<p
						class="font-body text-base text-gray-500 sm:mt-2 sm:text-xl lg:text-lg"
					>
						All donations over $100 will be provided a letter of acknowledgement
						for tax purposes.
					</p>
				</div>
			</div>
		</div>
	</main>
</Layout>
