---

---

<footer
	class="flex flex-col items-center justify-center bg-gray-900 py-12 leading-4 text-gray-50"
>
	<p>
		Lions Hunger is a proud member of the
		<a href="/" class="text-primary">U.P. Lions Serve Foundation</a>.
	</p>
</footer>
