---
import ContentPageLayout from "@layouts/ContentPageLayout.astro";
import Purposes from "@components/donate/Purposes.svelte";
import Icon from "@components/Icon.svelte";
import MediaAndText from "@components/MediaAndText.svelte";
import Button from "@components/Button.svelte";

const donateBanner = {
    src: `${import.meta.env.BASE_URL}/images/hero/donate.jpg`,
    alt: "A woman holding coins and a piece of paper that reads, 'Make a change'; by Katt Yukawa on Unsplash"
}
---

<ContentPageLayout
    title="Donate"
    description="TODO: Description"
    hero={donateBanner}>
    <section class="
            w-full max-w-5xl px-8 mb-8
            flex md:grid flex-col-reverse md:grid-cols-2 gap-16 md:gap-8 items-center md:place-items-center">
        
        <!-- OurPurposes re-purposed (heh) from home page -->
        <Purposes />

        <!-- Donorbox -->
        <div class="
                w-full max-w-sm h-fit p-2 pb-4
                flex flex-col items-center gap-2
                bg-navy rounded-3xl">
            <iframe
                src="https://donorbox.org/embed/uplionsserve-cc?default_interval=o&amount=5&enable_auto_scroll=false"
                height="712px" width="100%"
                name="Donorbox donation portal" 
                allow="payment"
                seamless="seamless"
                class="rounded-2xl leading-0"></iframe>
            <p class="text-white flex items-center gap-2">
                <span>Donate with</span>
                <span class="font-bold">
                    <Icon id="love" color="white" styling="w-4 h-4 translate-y-0.5" />
                    Donorbox
                </span>
            </p>
        </div>
    </section>
    <MediaAndText
        src="https://www.youtube.com/embed/YU_SM6yysyo"
        alt="SHF Annual Gala 2022 Video - YouTube">
        <span slot="headline">SHF Gala 2022 <span class="text-orange">Video</span></span>
        <p>
            In 2022, SHF awarded <span class="font-bold">our program</span> with <span class="font-bold">$15,000 in funding!</span> It will be used to help with travel and medical costs for families who need to travel for care; support <span class="font-bold">Camp Quality Michigan</span>, a camp for pediatric patients and their families at Bay Cliff Health Camp; and support <span class="font-bold">Kids Kicking Cancer</span>, a non-profit that empowers children to manage pain and stress through martial arts and meditation.
        </p>
        <Button href={`${import.meta.env.BASE_URL}/programs/events/shf-annual-gala`}>Learn more</Button>
    </MediaAndText>
</ContentPageLayout>

<!-- Donorbox embed code -->
<script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
