---
import ContentPageLayout from "@layouts/ContentPageLayout.astro";
import Steps from "@components/get-help/Steps.svelte";
import MediaAndText from "@components/MediaAndText.svelte";
import Button from "@components/Button.svelte";

// const donateBanner = {
//     src: `${import.meta.env.BASE_URL}/images/hero/donate.jpg`,
//     alt: "A woman holding coins and a piece of paper that reads, 'Make a change'; by Katt Yukawa on Unsplash"
// }
---

<!-- TODO: Fix banner -->
<ContentPageLayout
    title="Get Help"
    description="TODO: Description"
    hero={{src: `${import.meta.env.BASE_URL}/images/banners/get-help.jpg`, alt: "A woman and two children looking at a screen."}}>
    <section class="
            w-full max-w-5xl px-8 mb-8
            flex md:grid flex-col md:grid-cols-2 items-center md:place-items-center md:items-start gap-16 md:gap-8">
        
        <!-- TODO: Fix this component: update icons, descriptions, links, etc -->
        <Steps />

        <!-- PDF Preview -->
        <div class="
                w-full max-w-sm p-2 pb-4
                flex flex-col items-center gap-2
                bg-navy rounded-3xl">
            <iframe
                src={`${import.meta.env.BASE_URL}/content/childhood-cancer-intake-form.pdf`}
                height="610px" width="100%"
                name="Donorbox donation portal"
                allow="payment"
                seamless="seamless"
                class="rounded-2xl"></iframe>
            <p class="text-white">Childhood Cancer Intake Form preview</p>
        </div>
    </section>
</ContentPageLayout>

<!-- Donorbox embed code -->
<script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
